IndentWidth: 4
TabWidth: 4
UseTab: Always
AccessModifierOffset: -4
ColumnLimit: 100
BreakBeforeBraces: Stroustrup
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
AlignTrailingComments: true
DerivePointerAlignment: false
PointerAlignment: Left